body {
  user-select: none;
}

.heading {
  font-weight: bolder;
  min-height: 3rem;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: white;
}

.profile:nth-child(even) > div:not(.launchButton) {
  background-color: lightgray;
}

.mfaBox {
  position: sticky;
  bottom: 0;
}

a.nav-link {
  cursor: default;
}
